/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

td:not([align]), th:not([align]) {
  text-align: left;
}

body {
  font-size: 16px;
  font-family: "roboto", sans-serif;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo a {
  width: 70%;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 1rem 1rem 1rem;
  color: #150753b9;
}

.titles {
  background-color: #f2f2f2;
  display: block;
  padding-bottom: 3rem;
  height: 100%;
}

.search {
  border: none;
  -webkit-box-shadow: 1rem 0rem 0rem 0rem #bdc3c7;
          box-shadow: 1rem 0rem 0rem 0rem #bdc3c7;
  overflow: hidden;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #1f1c1c17;
}

.search .location .fa-map-marker-alt {
  padding: 25px;
  background-color: #f2f2f217;
  color: black;
}

.search input {
  border: none;
  font-size: 18px;
  background-color: #f2f2f217;
  font-weight: bold;
}

.input.text {
  font-weight: bold;
  color: black;
}

.restaurant {
  display: block;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem;
  background-color: #f2f2f2;
}

.explore {
  border-radius: 999px;
  padding: 1rem;
  -webkit-box-shadow: 0.1rem 0 0.1rem 0.1rem #bdc3c7;
          box-shadow: 0.1rem 0 0.1rem 0.1rem #bdc3c7;
  color: white;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  text-align: center;
  margin-right: 23%;
  margin-left: 23%;
}

.choice {
  display: block;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2rem 1rem 2rem 2rem;
}

.choice_titre p {
  font-weight: bold;
  font-size: 1.5rem;
}

.choice_text {
  border: 1px solid #f2f2f2;
  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem #bdc3c7;
          box-shadow: 0.1rem 0.1rem 0.1rem #bdc3c7;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 1rem;
  width: 100%;
  background-color: #f2f2f2;
  font-weight: bold;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choice_text i.fas {
  padding: 25px;
  background-color: #f2f2f2;
  color: black;
}

.choice_text p {
  max-width: 60%;
}

.circle {
  position: relative;
  max-height: 1.5rem;
  bottom: -33%;
  left: -3%;
}

.cercle {
  overflow: visible;
  font-size: 1rem;
  border: solid 1px;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  position: relative;
  left: -3%;
  color: #9356DC;
  line-height: 2rem;
  text-align: center;
  backgroundcolor: #9356DC;
}

.cercle p {
  max-width: 100%;
}

.main_content_resto {
  border-radius: 1rem;
  background-color: white;
  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem #bdc3c7;
          box-shadow: 0.1rem 0.1rem 0.1rem #bdc3c7;
  width: 100%;
  margin-bottom: 1rem;
}

.listings_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 0.5em;
  border-radius: 1rem 1rem 0% 0%;
}

.description {
  max-width: 50%;
}

.description p {
  color: #cec9c9;
}

.description .greyText {
  font-weight: bold;
}

.listings_item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-radius: 1rem 1rem 0% 0%;
}

.listings_image {
  border-radius: 1rem 1rem 0% 0%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  max-width: 100%;
}

.toggle-icons {
  display: block;
  position: relative;
}

.toggle-icons .icon {
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity .25s ease-in;
  transition: opacity .25s ease-in;
}

.toggle-icons .icon-default {
  opacity: 0;
}

.toggle-icons .icon-hover {
  opacity: 1.00;
}

.toggle-icons:hover .icon-default,
.toggle-icons:focus .icon-default {
  opacity: 1.0;
  color: #9356DC;
}

.toggle-icons:hover .icon-hover,
.toggle-icons:focus .icon-hover {
  opacity: 0;
}

footer {
  background-color: black;
  padding-bottom: 1rem;
}

.footer-logo a img {
  padding: 1rem;
  -webkit-filter: invert(1);
  filter: invert(1);
  width: 33%;
}

.list ul li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

/*Page de resto*/
.nomResto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.titreResto .nomResto h1 {
  font-family: Shrikhand;
  font-size: 2rem;
  text-align: left;
  font-weight: normal;
}

.typeEntree {
  border-radius: 1rem;
  background-color: white;
  -webkit-box-shadow: 0.1rem 0.1rem 0.1rem #bdc3c7;
          box-shadow: 0.1rem 0.1rem 0.1rem #bdc3c7;
  width: 100%;
  margin-bottom: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  height: auto;
  padding: 0.5em;
  position: relative;
}

.typeEntree:hover p {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.typeEntree:hover .check {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
}

.typeEntree:hover .check i.far.fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.typeEntree p {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 /2;
  -ms-grid-row: 2;
  grid-row: 2;
  float: right;
}

.check {
  opacity: 0;
  position: absolute;
  padding: 1rem;
  right: -11%;
  background-color: green;
}

keyframes slidein from {
  -webkit-transform: translate(1, 1);
          transform: translate(1, 1);
}

keyframes slidein to {
  -webkit-transform: scale(0.5, 1);
          transform: scale(0.5, 1);
}

.choixPlat {
  background-color: #f2f2f2;
}

.entree, .plat, .dessert {
  background-color: #f2f2f2;
  padding: 2rem;
  display: block;
}
/*# sourceMappingURL=style.css.map */