.search{
    border: none;
    box-shadow: 1rem 0rem 0rem 0rem rgba(189, 195, 199, 1);
    overflow: hidden;
    display: inline-flex;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color:#1f1c1c17;
    .location .fa-map-marker-alt{
      padding: 25px;
      background-color:#f2f2f217;
      color:black;
    }
  }
    
  .search input{
      border: none;
      font-size: 18px;
      background-color:#f2f2f217;
      font-weight: bold;
  }
    
  .input.text{
      font-weight: bold;
      color:black;
    }

    .explore{
        border-radius: 999px;
        padding:1rem ;
        box-shadow:  0.1rem 0 0.1rem 0.1rem  rgba(189, 195, 199, 1);
        color:white;
        font-weight: bold;
        background: linear-gradient($color-secondary, $color-primary);
        text-align: center;
        margin-right: 23%;
        margin-left: 23%;
        cursor: pointer;
      }
      
      .choice{
        display: block;
        justify-content: space-around;
        padding: 2rem 1rem 2rem 2rem;
          
      }
      
      .choice_titre p{
        font-weight: bold;
        font-size:1.5rem;
      }
      
      .choice_text{
          border: 1px solid #f2f2f2;
          box-shadow: 0.1rem 0.1rem 0.1rem rgba(189, 195, 199, 1);
          overflow: hidden;
          margin-top: 10px;
          margin-bottom: 10px;
          border-radius: 1rem;
          width: 100%;
          background-color: #f2f2f2;
          font-weight: bold;
          overflow: visible;
          display: flex;
          align-items: center;
            &:hover{
              cursor: pointer;
              background: rgb(194, 131, 194) ;
            }
          i.fas{
              padding: 25px;
              background-color: #f2f2f2;
              color:black;
            }
          p{
            max-width: 60%;
          }
      }
      
      .circle{
        position: relative;
        max-height: 1.5rem;
        bottom:-33%;
        left:-3%;
      
      }
      
      .cercle {
        overflow: visible;
        font-size: 1rem;
        border: solid 1px;
        border-radius: 50%;
        width: 2rem;
        height: 2rem;
        position: relative;
        left:-3%;
       
        color: $color-primary;
        line-height: 2rem;
        text-align: center;
        
         p{
           max-width: 100%;
          
      
         }
      
      }
      
      