html{
   
    
body{
  font-size:16px;
  font-family: "roboto", sans-serif;
  
  
}

.globalPage{
  animation-name: section;
  animation-duration: 3s;
  
}

.logo{
  display:flex;
  padding:1rem 2rem 1rem 0rem;
  justify-content: center;
  
    a {
        width: 70%; 
        display: block;
        img{
          display: block;
        }
  }
}
  
.logoTop{
    padding: 1rem;
    width: 70%; 
  }
  
  
  h1{
    font-size:3rem;
    font-weight: bold;
    text-align: center;
    padding:1rem 1rem 1rem 1rem;
    
  
  }
  
  
  h2{
    font-size:1.5rem;
    text-align: center;
    padding:1rem 1rem 1rem 1rem;
    color:$font-grey;
  }
  .titles{
    background-color:#f2f2f2;
    display: block; 
    padding-bottom: 3rem;
    height: 100%;
  }
  
.titreSection{
  margin-bottom:1rem;
    &:after {
    content:'';
    display:block;
    height:0.2em;
    width:9%;
    margin:0;
    border-bottom:solid ;
    color: #99E2D0;
    }
  }
  
 
  
.restaurant{
    display: block;
    justify-content: space-around;
    padding: 2rem;
    background-color:#f2f2f2;
  
  }
 
  footer{
      background-color:black;
      padding-bottom:2rem;
    }
  
  .footer-logo{
    
      a img{
    padding: 1rem;
    -webkit-filter:invert(1); 
    filter: invert(1); 
    width: 33%;
    }
  } 
  .list ul li a{
    text-decoration: none;
    color:white;
    padding:1rem ;  
  }
  .fa-utensils, .fa-handshake{
    padding: 0 0 0 1rem;
    -webkit-filter:invert(1); 
    filter: invert(1); 
    width:2rem;
}
  
  /*Page de resto*/
  
  header{
    display: flex;
    justify-content: center;
    align-items:center;
  }
  
.arrow{
  padding:1rem 1rem 1rem 0rem;
  .fa-arrow-left{
    padding: 0.5rem;
    padding-left: 1rem;
  }
}
  
.imagetop{
  position: relative;
}
  
.nomResto{
  display: flex;
  align-items: center;
    .heart{
      margin-left: auto;
      padding-right: 1rem;
    }
}

@media (min-width:$screen-lg-min){
  h1{
    padding: 3rem;
  }
  .restaurant {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:1rem;
    border-radius:1rem; 
  }
  .main_content_resto {
    margin:1rem;
    max-width: 45%;
  }
  
  .titres{
    display:flex;
    flex-direction: column-reverse;
  }

  .choice{
    display: flex;
    flex-direction:column;
    align-items:center;
      
  }
  .choice_text{
    width: 50%;
  }
  footer{
    padding-right:1rem;
  }
   /*Design page resto*/
   .arrow .fa-arrow-left{
    display:none;
  }
  .globalMenu{
    top:180%;
    padding: 1rem;
    
  }
  .globalPlat{
    display: flex;
    flex-wrap:wrap;
  }
  .platContent{
    width: 100%;
  }
  .entree, .plat, .dessert{
    width: 50%;
  }

}

@media only screen and (min-device-width : $screen-md-min) and (max-device-width : $screen-lg-min) and (orientation : landscape) {
  h1{
    padding: 3rem;
  }
  .logoTop{
    width:auto;
  }

  .restaurant {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:1rem;
    border-radius:1rem; 
  }
  .main_content_resto {
    margin:1rem;
    max-width: 45%;
  }
  
  .titres{
    display:flex;
    flex-direction: column-reverse;
  }

  .choice{
    display: flex;
    flex-direction:column;
    align-items:center;
      
  }
  .choice_text{
    width: 50%;
  }
  footer{
    padding-right:1rem;
  }

  /*Design page resto*/
  .arrow .fa-arrow-left{
    display:none;
  }
  .globalMenu{
    top:180%;
    padding: 1rem;
    
  }
  .globalPlat{
    display: block;
    flex-wrap:wrap;
  }
  .platContent{
    width: 100%;
  }
  .entree, .plat, .dessert{
    width: 50%;
  }
}

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
   
  .logoTop{
    width:auto;
  }
  
  .restaurant {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:1rem;
    border-radius:1rem; 
  }
  .main_content_resto {
    margin:1rem;
    max-width: 45%;
  }
  
  

  .choice{
    display: flex;
    flex-direction:column;
    align-items:center;
      
  }
  .choice_text{
    width: 50%;
  }
  footer{
    padding-right:1rem;
  }
  }
}
      