html{
   
    
body{
  font-size:16px;
  font-family: "roboto", sans-serif;
  
  
}

globalPage{
  animation-duration: 3s;
  animation-name: section;
  

}

.logo{
  display:flex;
  padding:1rem 1rem 1rem 0rem;;
  justify-content: center;
    a {
        width: 70%; 
  }
}
  
.logoTop{
    padding: 1rem;
    width: 70%; 
  }
  
  
  h1{
    font-size:3rem;
    font-weight: bold;
    text-align: center;
    padding:1rem 1rem 1rem 1rem;
    
  
  }
  
  
  h2{
    font-size:1.5rem;
    text-align: center;
    padding:1rem 1rem 1rem 1rem;
    color:#150753b9;
  }
  .titles{
    background-color:#f2f2f2;
    display: block; 
    padding-bottom: 3rem;
    height: 100%;
  }
  
  .titreSection{
  margin-bottom:1rem;
    &:after {
    content:'';
    display:block;
    height:0.2em;
    width:9%;
    margin:0;
    border-bottom:solid ;
    color: #99E2D0;
    }
  }
  
 
  
  .restaurant{
    display: block;
    justify-content: space-around;
    padding: 2rem;
    background-color:#f2f2f2;
  
  }
 
  footer{
      background-color:black;
      padding-bottom:1rem;
    }
  
  .footer-logo{
    
      a img{
    padding: 1rem;
    -webkit-filter:invert(1); 
    filter: invert(1); 
    width: 33%;
  }
  } 
  .list ul li a{
    text-decoration: none;
    color:white;
    padding:1rem ;  
  }
  .fa-utensils, .fa-handshake{
    padding: 0 0 0 1rem;
    -webkit-filter:invert(1); 
    filter: invert(1); 
    width:2rem;
  }
  
  /*Page de resto*/
  
  header{
    display: flex;
    justify-content: center;
  }
  
  .arrow{
    padding:1rem 1rem 1rem 0rem;
    .fa-arrow-left{
      padding: 0.5rem;
    }
  }
  
  .imagetop{
    position: relative;
  }
  
  .nomResto{
    display: flex;
    align-items: center;
      .heart{
        margin-left: auto;
        padding-right: 1rem;
       
      }
    
  }
@media (min-width:992px){
  h1{padding: 5rem};
  .restaurant {display: flex};
  .main_content_resto {margin:1rem};  
}

}
      