.globalMenu {
    background-color: #f2f2f2;
    border-radius: 3rem 3rem 0 0;
    position: absolute;
    top: 62%; 
    width: 100%;
    
  
  .nomResto h1{
    font-family:Shrikhand ;
    font-size: 2rem;
    text-align: left;
    font-weight: normal;
    
  }
  }
  
  .platContent{
    display: flex;
    position:relative;
    &:hover .check{
      
      overflow: auto;
      transform: translateX(-50px) ;
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0s;
    opacity:1;
      i.fas.fa-check-circle{
        transform: rotate(360deg);
        transition-duration: 0.7s;
        
      }
    
    }
  }
  
  .typeEntree{
    border-radius: 1rem;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 0.1rem rgba(189, 195, 199, 1);
    width: 100%;
    margin-bottom: 1rem;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    padding: 0.5em;
    
     &:hover p{
      transform: translateX(-50px);
      transition-duration: 1s;
     }
     
      .prix{
        grid-column:4 /4;
        grid-row: 1;
        width: 20%;
        margin-left: auto;
          p{
            float:right;
          }
      }
      
  }
  
  .compoPlat{
    display:flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end:4;
  }
  
  .check{
    opacity: 0;
    position: absolute;
    padding: 1rem;
    right:-10%;
    background-color:$color-tertiary;
    overflow: scroll;
      i.fas.fa-check-circle{
        color:white;
        
      }
  }
  .choixPlat{
    background-color:#f2f2f2;
  }

  .entree, .plat, .dessert{
    background-color:#f2f2f2;
    padding: 2rem;
    display: block;
  }

.entree{
  animation-duration:1s;
  animation-name:fadeMenu;
  opacity:0; 
  animation-fill-mode:forwards;
}

.plat{
  animation-duration:1s;
  animation-name:fadeMenu;
  animation-delay:1s;
  opacity:0; 
  animation-fill-mode:forwards;
}

.dessert{
  animation-duration:1s;
  animation-name:fadeMenu;
  animation-delay:2s;
  opacity:0; 
  animation-fill-mode:forwards;
}