@keyframes section {
  0% {opacity:0;}
  98% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeMenu { 
  from { opacity:0; } 
  to { opacity:1; } 
}

fade-in {
  opacity:0;  
  animation:fadeMenu ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1s;
}

        
.loader {
  animation:spin 2.5s  linear 1 forwards;
  border:solid 2vmin transparent;
  border-radius:50%;
  border-right-color:$color-primary;
  border-top-color: $color-primary;
  box-sizing:border-box;
  height:20vmin;
  left:calc(50% - 10vmin);
  position:fixed;
  top:calc(50% - 10vmin);
  width:20vmin;
  z-index:1;
  background-color: white;
    &:before {
      animation:spin 2.5s  linear 1 forwards;
      border:solid 2vmin transparent;
      border-radius:50%;
      border-right-color:$color-secondary;
      border-top-color:$color-secondary;
      box-sizing:border-box;
      content:"";
      height:16vmin;
      left:0;
      position:absolute;
      top:0;
      width:16vmin;
    }
       &:after {
        animation:spin 2.5s  linear 1 forwards;
        border:solid 2vmin transparent;
        border-radius:50%;
        border-right-color:$color-tertiary;
        border-top-color:$color-tertiary;
        box-sizing:border-box;
        content:"";
        height:12vmin;
        left:2vmin;
        position:absolute;
        top:2vmin;
        width:12vmin;
      }
}
          
@keyframes spin {
  90% {          
  transform:rotate(360deg);
  opacity: 0.9;
  }   
  99% {           
  transform:rotate(360deg);
  opacity: 0;
  }     
  100% {
    opacity: 0;
      display:none;
  }
}



