.globalMenu {
    background-color: #f2f2f2;
    border-radius: 3rem 3rem 0 0;
    position: absolute;
    top: 62%; 
    width: 100%;
    
  
  .nomResto h1{
    font-family:Shrikhand ;
    font-size: 2rem;
    text-align: left;
    font-weight: normal;
    
  }
  }
  
  .platContent{
    display: flex;
  
    &:hover .check{
      width: 20%;
      
      
      
    transition-duration: 0.7s;
    transition-timing-function: ease;
    transition-delay: 0s;
    display: flex;
justify-content: center;
align-items: center;
    
      i.fas.fa-check-circle{
        transform: rotate(360deg);
        transition-duration: 0.7s;
       
        
      }
      
    }
  }
  
  .typeEntree{
      border-radius: 1rem;
      background-color: white;
      box-shadow: 0.1rem 0.1rem 0.1rem rgba(189, 195, 199, 1);
      width: 100%;
      margin-bottom: 1rem;
      display:flex; 

      .prix{
        margin:auto 1rem 1rem auto;
        font-weight: bold;  
    }





}
  .composant{
      text-overflow: "...";
      overflow:hidden;
      white-space:nowrap;
  }
  .compoPlat{
      display:flex;
      flex-direction: column;
      margin: 1rem;
      text-overflow: "...";
      overflow:hidden;
      white-space:nowrap;
      p{
        font-weight: bold;
    }
    span{
        color:$font-grey;
    }

}
  .check{

      width: 0;

          border-radius:0 1rem 1rem 0;  
      background-color:$color-tertiary;
      overflow: hidden;
        i.fas.fa-check-circle{
          color:white;
          overflow: hidden;

      }
}
  .choixPlat{
      background-color:#f2f2f2;
    .entree, .plat, .dessert{
      background-color:#f2f2f2;
      padding: 2rem;
      display: block;
  }

.entree{
  animation-duration:1s;
  animation-name:fadeMenu;
  opacity:0; 
  animation-fill-mode:forwards;
}

.plat{
  animation-duration:1s;
  animation-name:fadeMenu;
  animation-delay:1s;
  opacity:0; 
  animation-fill-mode:forwards;
}

.dessert{
  animation-duration:1s;
  animation-name:fadeMenu;
  animation-delay:2s;
  opacity:0; 
  animation-fill-mode:forwards;
  }
}